.portfolioHead {
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    
}
p {
    font-size: 1.3rem;
    
}

.containerHead {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
}

@media(max-width:768px) {
    .containerHead {
        grid-template-columns: repeat(1, 1fr);
    }
    .description{
        height: auto;
        width: auto;
    }
}

.description {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 35rem;
    max-width: 40rem;
    background-color: rgba(243, 238, 238, 0.773);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
}

.portfolioButton {
    padding: 2rem;
    background-color: #f4c65bc3;
    border: none;
    border-radius: 25px;
    text-decoration: none !important;
    position: relative;
}
a{
    text-decoration: none !important;
}

button:hover {
    cursor: pointer;
    background-color: #ffcd57;
    transition-duration: 300ms;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: medium;
    margin: 2rem;
}

img {
    max-width: 20vh;
    max-height: 20vh;
}

hr {
    background-image: linear-gradient(to right,transparent,#e6f0af,transparent);
    border: 0;
    height: 0.1rem;
    max-width: 100%;
    margin: 8rem 0 5rem 0;

}